{{ dump(Taxonomie) }}
<div>
    <div class ="mouna">
        LOULOU
        <h1> {{titre}}</h1>
        HIHI
        <p><h2>{{ prix }}</h2></p>
        <p> {{ no_content_text }}</p>
    </div>
    <div class="ll">
        liste des termes:
     {{ Taxonomie}}
    </div>
    <div class="mouna">
        <img src = "/{{ base_path ~ directory }}/images/tomates-nancybuzz.jpeg">
    </div>
</div>